body {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.cover {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

.loader {
    background: white;
    display: flex;
    justify-content: center;
    z-index: 100;
}

order-page {
    display: block;
    position: relative;
}